<div class="classified container">
  <h2>
    <% if show_link %>
     <%= link_to classified.item, classified %>
    <% else %>
     <%= classified.item %>
    <% end %>
  </h2>
  <% if classified.image.present? %>
    <p>
      <%= image_tag classified.image.url %>
    </p>
  <% end %>
  <p>
    <b>Price: </b> <%= classified.price %>
  </p>
  <p>
    <b>Category: </b> <%= link_to classified.category.name, classified.category %>
  </p>
  <p>
    <b>Description: </b> <%= classified.description %>
  </p>
</div>