<div class="classified container">
  <h2>
    <% if show_link %>
     <%= link_to classified.item, classified %>
    <% else %>
     <%= classified.item %>
    <% end %>
  </h2>
  <% if classified.image.attached? %>
    <p>
      <%= image_tag classified.image %>
    </p>
  <% end %>
  <p>
    <b>Price: </b> <%= number_to_currency(classified.price) %>
  </p>
  <p>
    <b>Category: </b> <%= link_to classified.category.name, classified.category %>
  </p>
  <p>
    <b>Associated Programs: </b>
  </p>
  <p>
    <% classified.programs.each do |program| %>
      <%= link_to program.name, program, class: "btn btn-outline-primary"  %>
    <% end %>
  </p>
  <p>
    <b>Description: </b> <%= classified.description %>
  </p>
</div>