<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'RRC Classifieds', root_path, class: "navbar-brand mb-0 h1" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %><span class="sr-only">(current)</span>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About RRC
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'About Us', permalink_path(permalink: 'about'), class: "dropdown-item" %>
          <%= link_to 'Contact Us', permalink_path(permalink: 'contact'), class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Programs
        </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% programs.each do |program| %>
            <%= link_to program.name, program, class: "dropdown-item"  %>
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop By</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown2">
              <li><%= link_to 'Categories', categories_path, class: "dropdown-item" %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><a href="#">Newly Added</a></li>
              <li class="dropdown-item"><a href="#">Recently Updated</a></li>
          </ul>
      </li>

      <li class="nav-item">
        <%= form_tag(results_classified_index_path, method: "get", class: "form-inline navbar-form navbar-left") do %>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" aria-label="Search">
          <select class="form-control mr-sm-2" name="category">
            <option value="all" selected>All Categories</option>
            <% categories.each do |category| %>
              <option value="<%= category.name %>"><%= category.name %></option>
            <% end %>
          </select>
          <%= submit_tag("Search", class: "btn btn-outline-success") %>
        <% end %>
      </li>

    </ul>

    <div>
		<ul class="nav navbar-nav navbar-right mr-sm-2">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn bg-light text-dark" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-shopping-cart"></span> 4 - Items in Cart
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-cart" role="menu">
              <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="http://www.prepbootstrap.com/Content/images/template/menucartdropdown/item_1.jpg" alt="" />
                        <span class="item-info">
                            <span>Item name</span>
                            <span>price: 27$</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-danger">X</button>
                    </span>
                </span>
              </li>
              <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="http://www.prepbootstrap.com/Content/images/template/menucartdropdown/item_2.jpg" alt="" />
                        <span class="item-info">
                            <span>Item name</span>
                            <span>price: 3$</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-danger  fa fa-close">X</button>
                    </span>
                </span>
              </li>
              <li>
                <span class="item">
                    <span class="item-left">
                        <img src="http://www.prepbootstrap.com/Content/images/template/menucartdropdown/item_4.jpg" alt="" />
                        <span class="item-info">
                            <span>Item name</span>
                            <span>price: 7$</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-danger  fa fa-close">X</button>
                    </span>
                </span>
              </li>
              <li class="dropdown-divider"></li>
              <li><a class="text-xs-center btn btn-primary" href="#">View Cart</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <% if student_signed_in? %>
        <div class="btn-group dropleft">
          <button type="button" class="btn btn-info"><%= current_student.name %></button>
          <button type="button" class="btn btn-info nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item text-center font-weight-bold" href="#"> Add new Classified </a>
              <%= link_to('View Your Classifieds', student_path(id: current_student.id), class: "dropdown-item text-center font-weight-bold") %>
            <div class="dropdown-divider"></div>
              <div class="bottom text-center">
                <%= link_to('Logout', destroy_student_session_path, method: :delete, class: "dropdown-item font-weight-bold text-info") %>
              </div>
          </div>
        </div>
      <% else %>
        <div class="btn-group dropleft">
          <button type="button" class="btn btn-info">Login</button>
          <button type="button" class="btn btn-info nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <%= link_to('Sign In', new_student_session_path, class: "dropdown-item text-center font-weight-bold text-info")  %>
            <div class="dropdown-divider"></div>
              <div class="bottom text-center">
                New here ? <%= link_to('Sign Up', new_student_registration_path, class: "dropdown-item font-weight-bold text-info")  %>
              </div>
          </div>
        </div>
      <% end %>


  </div>
</nav>