<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'RRC Classifieds', root_path, class: "navbar-brand mb-0 h1" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %><span class="sr-only">(current)</span>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About RRC
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'About Us', permalink_path(permalink: 'about'), class: "dropdown-item" %>
          <%= link_to 'Contact Us', permalink_path(permalink: 'contact'), class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Programs
        </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% programs.each do |program| %>
            <%= link_to program.name, program, class: "dropdown-item"  %>
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop By</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown2">
              <li><%= link_to 'Categories', categories_path, class: "dropdown-item" %></li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-item" href="#"><a>Newly Added</a></li>
              <li class="dropdown-item" href="#"><a>Recently Updated</a></li>
          </ul>
      </li>

      <li class="nav-item">
        <%= form_tag(results_classified_index_path, method: "get", class: "form-inline navbar-form navbar-left") do %>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" aria-label="Search">
          <select class="form-control mr-sm-2" name="category">
            <option value="all" selected>All Categories</option>
            <% categories.each do |category| %>
              <option value="<%= category.name %>"><%= category.name %></option>
            <% end %>
          </select>
          <%= submit_tag("Search", class: "btn btn-outline-success") %>
        <% end %>
      </li>

    </ul>

    <% if student_signed_in? %>
        <%= link_to('Logout', destroy_student_session_path, method: :delete, class: "btn btn-info") %>
      <% else %>
        <div class="btn-group dropleft">
          <button type="button" class="btn btn-info">Login</button>
          <button type="button" class="btn btn-info nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <%= link_to('Sign In', new_student_session_path, class: "dropdown-item text-center font-weight-bold text-info")  %>
            <div class="dropdown-divider"></div>
              <div class="bottom text-center">
                New here ? <%= link_to('Sign Up', new_student_registration_path, class: "dropdown-item font-weight-bold text-info")  %>
              </div>
          </div>
        </div>
      <% end %>


  </div>
</nav>