<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'RRC Classifieds', root_path, class: "navbar-brand mb-0 h1" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %><span class="sr-only">(current)</span>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About RRC
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'About Us', permalink_path(permalink: 'about'), class: "dropdown-item" %>
          <%= link_to 'Contact Us', permalink_path(permalink: 'contact'), class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Programs
        </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% programs.each do |program| %>
            <%= link_to program.name, program, class: "dropdown-item"  %>
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop By</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown2">
              <li><%= link_to 'Categories', categories_path, class: "dropdown-item" %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'Newly Added', new_classified_index_path, method: :post %></li>
              <li class="dropdown-item"><%= link_to 'Recently Updated', updated_classified_index_path, method: :post %></li>
          </ul>
      </li>

      <li class="nav-item">
        <%= form_tag(results_classified_index_path, method: "get", class: "form-inline navbar-form navbar-left") do %>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" aria-label="Search">
          <select class="form-control mr-sm-2" name="category">
            <option value="all" selected>All Categories</option>
            <% categories.each do |category| %>
              <option value="<%= category.name %>"><%= category.name %></option>
            <% end %>
          </select>
          <%= submit_tag("Search", class: "btn btn-outline-success") %>
        <% end %>
      </li>

    </ul>

    <div>
		<ul class="nav navbar-nav navbar-right mr-sm-2">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn bg-light text-dark" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-shopping-cart"></span><%= session[:cart_items].count %> - Items in Cart
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-cart" role="menu">
              <% @cart_classifieds.each do |classified| %>
                <li>
                  <span class="item">
                      <span class="item-left">
                          <% if classified.image.attached? %>
                            <div class="col-xs-6 col-md-3">
                              <%= image_tag classified.image.variant(resize: "50x50"), alt: "Image Not Available" %>
                            </div>
                          <% else %>
                            <p class="alert alert-warning alert-dismissible text-center" role="alert" >Image Not Available </p>
                          <% end %>
                          <span class="item-info">
                              <span class="text-small"><%= classified.item %></span>
                              <span>price: <%= number_to_currency(classified.price) %></span>
                          </span>
                      </span>
                      <span class="item-right">
                        <%= link_to 'X', remove_from_cart_classified_path(classified.id), method: :post,  class: "btn btn-danger btn-sm" %>
                      </span>
                    </span>
                </li>
              <% end %>
              <li class="dropdown-divider"></li>
              <% if session[:cart_items].count.zero? %>
                <li><p class="alert alert-danger alert-dismissible text-center" role="alert" >Your cart is empty. </p></li>
              <% else %>
                <li class="text-center mb-2"><a class="text-xs-center btn btn-primary btn-block btn-sm text-uppercase"  data-toggle="modal" data-target="#cartModal" href="#">View Cart</a></li>
                <li class="text-center mb-2">
                  <%= link_to 'Clear The Cart', clear_cart_classified_index_path, method: :post, class: "text-xs-center btn btn-light btn-block btn-sm text-uppercase" %>
                </li>
                <li class="dropdown-divider"></li>
                <li class="text-center mb-2">
                  <%= link_to 'Checkout', new_order_path, class: "text-xs-center btn btn-success btn-block btn-sm text-uppercase" %>
                </li>
              <% end %>
          </ul>
        </li>
      </ul>
    </div>

    <% if student_signed_in? %>
        <div class="btn-group dropleft">
          <button type="button" class="btn btn-info"><%= current_student.name %></button>
          <button type="button" class="btn btn-info nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item text-center font-weight-bold" href="#"> Add new Classified </a>
            <%= link_to('View Your Classifieds', student_path(id: current_student.id), class: "dropdown-item text-center font-weight-bold") %>
            <%= link_to('View Order History', order_history_index_path, class: "dropdown-item text-center font-weight-bold") %>
            <div class="dropdown-divider"></div>
              <div class="bottom text-center">
                <%= link_to('Logout', destroy_student_session_path, method: :delete, class: "dropdown-item font-weight-bold text-info") %>
              </div>
          </div>
        </div>
      <% else %>
        <div class="btn-group dropleft">
          <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="left" title="Login">Login</button>
          <button type="button" class="btn btn-info nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <%= link_to('Sign In', new_student_session_path, class: "dropdown-item text-center font-weight-bold text-info")  %>
            <div class="dropdown-divider"></div>
              <div class="bottom text-center">
                New here ? <%= link_to('Sign Up', new_student_registration_path, class: "dropdown-item font-weight-bold text-info")  %>
              </div>
          </div>
        </div>
      <% end %>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container mb-4">
          <div class="row">
              <div class="col-12">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th scope="col"> </th>
                                  <th scope="col">Product</th>
                                  <th scope="col" class="text-right">Price</th>
                                  <th> </th>
                              </tr>
                          </thead>
                          <tbody>
                            <% @cart_classifieds.each do |classified| %>
                              <tr>
                                  <td>
                                    <% if classified.image.attached? %>
                                      <%= image_tag classified.image.variant(resize: "50x50"), alt: classified.item %>
                                    <% else %>
                                      <p class="alert alert-warning alert-dismissible text-center" role="alert" >Image Not Available </p>
                                    <% end %>
                                  <td><%= classified.item %></td>
                                  <td class="text-right"><%= number_to_currency(classified.price) %></td>
                                  <td class="text-right">
                                    <%= link_to 'X', remove_from_cart_classified_path(classified.id), method: :post,  class: "btn btn-danger btn-sm" %>
                                  </td>
                              </tr>
                            <% end %>
                              <tr>
                                  <td></td>
                                  <td></td>
                                  <td class="text-right"><strong>Sub-Total</strong></td>
                                  <td class="text-right"><strong>
                                    <%= number_to_currency(@cart_classifieds.collect { |item| item.valid? ? item.price : 0 }.sum) %>
                                  </strong></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to('Continue Shopping', root_path, class: "btn btn-light")  %>
        <%= link_to 'Checkout', new_order_path, class: "btn btn-success text-uppercase" %>
      </div>
    </div>
  </div>
</div>